.movie {
    cursor: pointer;
}

    .movie:hover {
        background-color: gainsboro;
    }

.rating {
    border: solid 1px black;
    text-align: center;
    width: 100%;
}

    .rating .source {
        background-color: yellow;
        border-bottom: solid 1px black
    }

    .rating .value {
    }